.btn-s,
.btn-m,
.btn-l,
.btn-xl {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--primary);
  color: white;
  border-radius: var(--radius-10);
  box-shadow: var(--shadow-primary);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: 700;
  text-transform: unset;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.btn-s::after,
.btn-m::after,
.btn-l::after,
.btn-xl::after {
  content: "";
  position: absolute;
  border-radius: var(--radius-12);
  width: 100px;
  height: 100px;
  background: #00000033;
  transform: scale(0);
  opacity: 0;
  pointer-events: none;
  top: var(--ripple-y, 50%);
  left: var(--ripple-x, 50%);
  translate: -50% -50%;
}

.btn-s:active::after,
.btn-m:active::after,
.btn-l:active::after,
.btn-xl:active::after {
  animation: ripple 275ms ease-out;
}

.btn-s  { font-size: var(--font-size-m);  height: 1.8rem;   padding: 0 0.685rem; }
.btn-m  { font-size: var(--font-size-ml); height: 2.3rem;   padding: 0 0.955rem; }
.btn-l  { font-size: var(--font-size-l);  height: 2.75rem;  padding: 0 1.25rem;  }
.btn-xl { font-size: var(--font-size-l);  height: 3.255rem; padding: 0 1.495rem; }

.btn-ghost,
.btn-outline,
.btn-text {
  border-radius: var(--radius-10);
  box-shadow: none;
  cursor: pointer;
}

.btn-disabled {
  background-color: var(--disabled-adaptive);
  color: var(--placeholder-adaptive);
  pointer-events: none;
  opacity: 0.7;
  border: none;
  box-shadow: none;
  cursor: not-allowed;
}

.btn-ghost {
  background-color: var(--primary-translucent);
  color: var(--primary-variant);
}

.btn-outline {
  border: 2px solid var(--primary-variant);
  background-color: transparent;
  color: var(--primary-variant);
}

.btn-text {
  background-color: transparent;
  color: var(--primary-variant);
  border: none;
}

.badge {
  width: fit-content;
  height: 20.4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.45rem;
  border-radius: var(--radius-10);
  background-color: var(--primary);
  color: white;
  font-size: var(--font-size-xxs);
  font-weight: 700;
  text-decoration: none;
  cursor: default;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: var(--overlay);
  animation: fadeIn 0.3s ease forwards;
}